
@import "./../../../../variables.scss";

.banner{
    min-height: 100vh;
    
    .container{
        display: table;
        height: 100vh;

        .section-box-banner{
            display: table-cell;
            vertical-align: middle;

            .content{
                margin-top: 98px;
            }

            h1{
    
                color: #64ffda;
                margin: 0 0 20px 3px;
                font-size: 16px;
                font-weight: normal;
                font-family: $CodeFont;
            }

            h2, h3 {
                font-weight: 600;
                font-size: 80px;
                line-height: 1.1;
                margin: 0;
                font-family: $MainFont;
            }

            h2{
                color: $LightestSlate;
                
            }
            h3{  
                color: $Slate;
                display: inline;
            }

            .banner-description{
                margin-bottom: 70px;
            }

            p{
                margin: 0px;
                font-size: 20px;
                display: inline;
                color: #64ffda;
                font-family: $CodeFont;
            }

            .div-btn-banner{
                margin-top: 40px;
                height: 43px;
            }
        }

       
    }    
}
.boton_editar{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-transition: all 0.12s cubic-bezier(0.645,0.045,0.355,1);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    &:hover, &:focus, &:active {
    width: 45px;
    height: 45px;
    }
}

.boton_editar2{
    width: 35px;
    height: 35px;
    display: inline;
    vertical-align:top;
    border: none;
    outline: none;
    -webkit-transition: all 0.12s cubic-bezier(0.645,0.045,0.355,1);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: transparent;
    &:hover, &:focus, &:active {
        width: 45px;
        height: 45px;
        }
}

