<app-header></app-header>
<section class="section banner">
  <div class="container"> 
    <div class="section-box-banner">
      <div>
        <h3>Editar</h3><h2>Banner</h2>
    
  <form *ngIf="bannerForm" [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
    <div>
      <h1> <label for="descripcion">Descripción:</label>
        <input class="large-input" type="text" id="description" placeholder="Descripción" formControlName="description" />
    </h1>
    </div>
    <button class="main-btn" type="submit">Guardar cambios</button>
  </form>
</div>
</div>
</div>
</section>