<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/MrGeennius" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
           
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:mr.geennius@gmail.com" target='_blank'>mr.geennius@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")' href="https://github.com/MrGeennius" target="_blank" rel="nofollow noopener noreferrer">
            <div>Juan Ignacio Duarte</div>
        </a>
        <!-- <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer">
           <div class="mt-2">Diseñado por Brittany Chiang / Designed by</div>
        </a> -->
    </div>

</footer>