@import "src/variables.scss";

.form-div {
    margin-top: 10%;
    margin-right: 150px;
    margin-left: 380px;
    max-width: 250px;
  }
  .footer {
    /* margin-top: 25px; */
    margin-right: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 500px;
    align-items: flex-end;

}
