<app-header></app-header>
<section class="section banner">
  <div class="container">
      <div class="section-box-banner">
              <div>


                
                <h3>Editar</h3><h2> Persona</h2>

<form [formGroup]="itemForm" (ngSubmit)="saveItem()">
  <div>
    <h1><label for="nombre">Nombre:</label>
    <input type="text" class="custom-textarea" id="nombre" maxlength="20" placeholder="Nombre" formControlName="nombre" />
  </h1>
  </div>
  <div>
    <h1><label for="apellido">Apellido:</label>
    <input type="text" class="custom-textarea"  id="apellido" maxlength="20" placeholder="Apellido" formControlName="apellido" /></h1>
  </div>
  <div>
    <h1><label for="descripcion">Descripción:</label>
    <input class="custom-textarea"  maxlength="80" type="text" id="descripcion" placeholder="Descripción" formControlName="descripcion" /></h1>
  </div>
  <button class ="main-btn" type="submit">Guardar cambios</button>
</form>
</div>
</div>
</div>

</section>